mixin album(album, albumNumber, albumMod, photoAmount, isEventAlbum)
    - isEventAlbum = isEventAlbum || false
    main.album
        section(class='album__promo '+ 'album__promo--' + albumMod + ' jumping')
            .container.album__promo-container
                if !isEventAlbum
                    h1.album__heading
                        | Свадьба
                        br
                        | #{album.title}
                else
                    h1.album__heading #{album.title}
                if album.location
                    p.album__subheading #{album.location}
                p.album__subheading #{album.date}
        section.album__description
            .container.album__description--container
                each text in album.description
                    p.album__text.premium__title #{text}
        section.album__video
            .container
                .about__video.video
                    a.video__link(href=album.videoSrc)
                        .video__overlay
                        picture
                            source(srcset="https://i.ytimg.com/vi_webp/" + album.videoID + "/maxresdefault.webp",type="image/webp")
                            img.about__image.video__image(src="https://i.ytimg.com/vi/" + album.videoID + "/maxresdefault.jpg", alt="1. Пилот, разборы, ответы и лайвы")
                        button.video__button(type="button")
                            span.visually-hidden Воспроизвести видео
        section.album__photos
            .container.album__photos--container
                ul.album__list
                    - var n = 1;
                    while n <= photoAmount
                        if n > 40 && n % 4 === 0
                            li.album__item.album__item--hidden.album__item--gr
                                +picture('album__image','img/pics/albums/' + albumNumber + '/' + n++, 100, 100, 'тест')
                        else if n > 40 && n % 3 === 0
                            li.album__item.album__item--hidden.album__item--gc
                                +picture('album__image','img/pics/albums/' + albumNumber + '/' + n++, 100, 100, 'тест')
                        else if n > 40 && n % 4 === 0
                            li.album__item.album__item--hidden.album__item--gr
                                +picture('album__image','img/pics/albums/' + albumNumber + '/' + n++, 100, 100, 'тест')
                        else if n > 40 && n % 7 === 0
                            li.album__item.album__item--hidden.album__item--gcar
                                +picture('album__image','img/pics/albums/' + albumNumber + '/' + n++, 100, 100, 'тест')
                        else if n > 40
                            li.album__item.album__item--hidden
                                +picture('album__image','img/pics/albums/' + albumNumber + '/' + n++, 100, 100, 'тест')
                        else if n % 4 === 0
                            li.album__item.album__item--gr
                                +picture('album__image','img/pics/albums/' + albumNumber + '/' + n++, 100, 100, 'тест')
                        else if n % 3 === 0
                            li.album__item.album__item--gc
                                +picture('album__image','img/pics/albums/' + albumNumber + '/' + n++, 100, 100, 'тест')
                        else if n % 7 === 0
                            li.album__item.album__item--gcar
                                +picture('album__image','img/pics/albums/' + albumNumber + '/' + n++, 100, 100, 'тест')
                        else
                            li.album__item
                                +picture('album__image','img/pics/albums/' + albumNumber + '/' + n++, 100, 100, 'тест')
                button.album__button.calculation-form__btn Загрузить еще
        div.dialog
            .swiper
                .dialog__content.gallery

